


<div class="center">
    <p class="title">Welcome to my XO Game</p>

    <h1 *ngIf="player =='X' && !winner">{{ player }} Turn</h1>
    <h1 *ngIf="player =='O' && !winner">{{ player }} Turn</h1>
    <p class="won" *ngIf="winner" >
        Player <span *ngIf="winner =='X'" class="x">{{winner}} </span><span *ngIf="winner =='O'" class="o">{{winner}} </span> 
        won the game!
    </p>
<main>
    <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">
    </app-square>
</main>

<button nbButton outline status="danger" (click)="NewGame()" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
     Start new Game </button> 
</div>



