


<p class="title">Welcome to my XO Game</p>
<div class="center">
    <h1 *ngIf="player =='X'" class="x">{{ player }} Turn</h1>
    <h1 *ngIf="player =='O'" class="o">{{ player }} Turn</h1>




<main>
    <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">
    </app-square>
</main>
<p class="won" *ngIf="winner">
    Player {{winner}} won the game!
</p>
<button nbButton outline status="danger" (click)="NewGame()" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
     Start new Game </button> 
    </div>



